<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelompok 11 - Menghitung Future Value Annuity Due</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <footer id="footer" class="bg-light fixed-bottom">
        <div class="container text-center">
            <p class="text-muted">Website ini dibuat oleh kelompok 11</p>
            <p class="text-muted">Zhafa, Kartika, Eunike</p>
        </div>
    </footer>
</body>
</html>


